{#
  This file is part of the WikiTagBundle package.
 
  (c) IRI <http://www.iri.centrepompidou.fr/>
 
  For the full copyright and license information, please view the LICENSE
  file that was distributed with this source code.
#}
{# partial display for context search div #}
<div id="wikitag_context_div" class="wikitag_context_static wikitag_context_change">
<p>Choisissez le tag à ajouter<span style="float:right" class="wikitag_hand_cursor" id="wikitag_context_close" ><b>X</b></span></p>
<p><input type="text" name="wikitag_wp_search_context" id="wikitag_wp_search_context" /></p>
</div>